.autcomplete .MuiAutocomplete-inputRoot {
    padding: 3px;
}

.ant-select-selector {
    padding: 4px !important;
    min-height: 42.5px !important;
    height: auto !important;
}
.ant-select-dropdown{
    z-index: 2500!important;
}
.ant-select-selection-item {
    padding-left: 5px !important;
}

.abc .MuiPickersToolbar-content button {
    display: none;
}
.ant-select-show-search:where(.css-dev-only-do-not-override-1e3x2xa).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: auto !important;
}
